﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<partial name="Partial/_ModalSpec" />

<button class="btn btn-info" title="Search" data-bs-toggle="modal" data-bs-target="#staticModal">Cari Dokter</button>

<script>
    $(".btn-info").click(function (event) {
        $("#staticModalBody").load("/CariDokter/Search");
    });
</script>