﻿
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pagination<VMMSpecialization>?
@{
    Layout = "_LayoutTanpaHeader";
    int nomor = 1;
}

<partial name="Partial/_ModalSpec" />

<div class="card">
    <div class="card-header h3">Spesialisasi</div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <form class="w-50" id="frmFilter" asp-controller="Specialization" asp-action="Index">
                <div class="input-group">
                    <input id="filter" name="filter" type="text" class="form-control" placeholder="Specialization Name" aria-label="Filter" aria-describedby="iSearch" value="@ViewBag.Filter">
                    <button type="submit" class="btn btn-secondary input-group-text" id="iSearch"><i class="fa-solid fa-search"></i></button>
                </div>
            </form>
            <button class="btn btn-success" id="tambahSpecialization" title="Add" data-bs-toggle="modal" data-bs-target="#staticModal">Tambah Spesialisasi</i></button>
        </div>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-1"></th>
                        <th>Nama Spesialisasi</th>
                        <th>Modified By</th>
                        <th>Modified On</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Count != 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td class="col-1">@Model[i].Id</td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].ModifiedBy</td>
                                <td>@Model[i].ModifiedOn</td>
                                <td class="col-4 text-center">
                                    <div class="btn-group mb-3">
                                        <button class="btn btn-warning" title="Edit" data-id="@Model[i].Id" data-bs-toggle="modal" data-bs-target="#staticModal">Ubah</button>
                                        <button class="btn btn-danger" title="Delete" data-id="@Model[i].Id" data-bs-toggle="modal" data-bs-target="#staticModal">Hapus</button>
                                    </div>
                                </td>
                            </tr>
                        }
@*                         foreach(VMMSpecialization data in Model)
                        {
                            <tr>
                                <td class="col-1">@nomor</td>
                                @(nomor = nomor+1);
                                <td>@data.Name</td>
                                <td class="col-4 text-center">
                                    <div class="btn-group mb-3">
                                        <button class="btn btn-warning" title="Edit" data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModal">Ubah</button>
                                        <button class="btn btn-danger" title="Delete" data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModal">Hapus</button>
                                    </div>
                                </td>
                            </tr>
                        } *@
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center text-decoration-none">Spesialisasi tidak ditemukan</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <div class="input-group w-25">
            <a class="btn btn-secondary col-2 @(Model.PageIndex <= 1 ? "disabled": "")" title="Previous Page"
               asp-controller="Specialization" asp-action="Index" asp-route-filter="@ViewBag.Filter"
               asp-route-currPageSize="@ViewBag.PageSize"
               asp-route-pageNumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex-1)">
               <i class="fas fa-chevron-left"></i></a>
            <div class="input-group-text text-center col-6"><span class="w-100">@Model.PageIndex of @Model.TotalPages</span></div>
            <a class="btn btn-secondary col-2 @(Model.PageIndex >= Model.TotalPages ? "disabled": "")" title="Next Page"
               asp-controller="Specialization" asp-action="Index" asp-route-filter="@ViewBag.Filter"
               asp-route-currPageSize="@ViewBag.PageSize"
               asp-route-pageNumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)"
               ><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>

<script>
    $("#tambahSpecialization").click(function (event) {
        $("#staticModalBody").load("/Specialization/Add");
    });

    $(".btn-warning").click(function (event) {
        let specId = $(this).data("id");
        $("#staticModalBody").load("/Specialization/Edit/" + specId);
    });

    $(".btn-danger").click(function (event) {
        let specId = $(this).data("id");
        $("#staticModalBody").load("/Specialization/Delete/" + specId);
    });
</script>