﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card">
    <div>
        <form id="frmEducationLevel" asp-controller="EducationLevel" asp-action="Add">
            <div class="mb-3">
                <label class="form-label">Education Level Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="Name" 
                placeholder="Input Education Level Name">
            </div>
            <div id="errorContainer" class="text-danger" aria-hidden="true"><ul></ul></div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <input type="hidden" name="CreatedBy" value="1"/>
        </form>
    </div>
</div>

<script>
        $("#staticModalLabel").html("@ViewBag.Title");

        $.validator.addMethod(
            "validationName",
            function (val,el){
            //check name with regex
            debugger
            return !(/^(?=.*[@@#$%^&*\-()_+=\/.,])/.test(val))
            },
            function(chckRes, el){
                let pass= $(el).val();
                let txtAlert = "Request Salah!";
                debugger
                if((/^(?=.*[@@#$%^&*\-()_+=\/.,])/.test(pass))){
                    txtAlert += "Tidak boleh karakter <br>"
                    console.log(txtAlert)
                }
                if (txtAlert == "Request Salah!"){
                    return txtAlert;
                }
                else{
                    return txtAlert
                }
            }
        )

        $("#frmEducationLevel").validate({
            errorClass: "text-danger",
            errorLabelContainer: "#errorContainer",
            wrapper: "li",
            rules: {
                Name :{
                    "required": true,
                    "minlength": 1,
                    "validationName":true
                }
            },
            messages: {
                Name: {
                    "required": "Harus Diisi",
                    "minlength": "Harus lebih dari 1 karakter",
                }
            }
        })

        $("#frmEducationLevel").submit(function(event){
            event.preventDefault();
            $("#errorContainer ul").empty()
            if ($("#frmEducationLevel").valid()){

                $.ajax({
                    url: '/EducationLevel/Add',
                    type: 'post',
                    data: $("#frmEducationLevel").serialize(),
                    dataType: 'json',
                    beforeSend: function(){
                        //process before send data
                    },
                    success: function(response){
                        debugger;
                        if (response.statusCode == 200 || response.statusCode == 201){
                        console.log(response);
                            location.reload();
                        }
                        else {
                            debugger;
                            $("#errorContainer ul").html("<li>" + response.message + "</li>");
                            $("#errorContainer").show();

                            //alert(response.message);
                        }
                    },
                    error: function(errResponse){
                        console.log("Gagal error")
                        debugger;
                    }
                });
            }
        });
</script>
