﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_LayoutSharedProfile";
}

<div class="row">
    
    <div class="col">
        <div class="card">
            <div class="card-header">Profile User</div>
            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="1a" >Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="2a" >Alamat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="3a" >Pembayaran</a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Data Pribadi</h5>

                            <div class="row">
                                <div class="col-md-6">Nama Lengkap</div><br>
                                <div class="col-md-6">: Nama Lengkap Kita</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Tanggal Lahir</div>
                                <div class="col-md-6">: </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Nomor handphone</div>
                                <div class="col-md-6">: </div>
                            </div>
                           
                            <h5 class="card-title">Data Akun</h5>
                            <div class="row">
                                <div class="col-md-6">Email</div><br>
                                <div class="col-md-6">: </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Password</div>
                                <div class="col-md-6">: </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
             
              
            </div>
            
        </div>
    </div>
</div>