﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
    Layout = null;
}
<div class="card">
    <div class="h3 card-header">

    </div>
    <div class="card-body">
        <i class="fas fa-exclamation-triangle float-xxl-start text-danger"></i>
        <span>Are you sure delete product with Name : @ViewBag.CatName </span>
    </div>
    <div class="card-footer">
        <button id="btnDelete" class=" btn btn-danger">Confirm</button>
        <button class=" btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</div>



<script>
    $("#staticModalLabel").html("@ViewBag.Title");

    $("#btnDelete").click(
        ()=> {
        //if(confirm("Apakah yakin menghapus ini?")) {
            $.ajax({
                url: '/MedicalFacilityCategory/Delete',
                type: 'post',
                data: {"id" : @Model, "userId": 1},
                dataType: 'json',
                beforeSend: function() {},
                success: function(response) {
                    if (response.statusCode == 200 ){
                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function(errResponse){
                    console.log(errResponse)
                    alert("Delete failed!");

                    debugger;
                }
            });
        //}
    }); 
</script>

