﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMHistoryCustomer?;
@{
    Layout = null;
}
@if(Model != null)
{
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Print</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4 pb-3 mb-4" style="border:solid 2px #6976FF;">
            <div class="mb-4 mt-3">
                <div class="row">
                    <div class="col">
                        <h4 class="text-primary ms-3">Resep Digital</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <h3 class="text-primary my-auto"><i class="bi bi-heart-pulse"></i> Med.Id BATCH336A</h3>
                    </div>
                </div>

            </div>
            <div class="bg-info text-center ms-3 mb-5">
                Resep digital akan tidak berlaku pada tanggal @(Model.AppointmentDate != null ? Model.AppointmentDate.Value.AddDays(2).ToString("dd MMMM yyyy") : "")
            </div>
            <div class="row ms-3 mb-4">
                <div class="col">
                    <div class="h5 text-primary">@Model.DoctorName</div>
                    <div class="">Spesialis @Model.DoctorSpecialization</div>
                    <div class="">@Model.AppointmentDate.Value.ToString("dd MMMM yyyy"), @Model.MedicalFacilityName</div>
                </div>
            </div>
            <div class="row ms-3 mb-4">
                <div class="">nama pasien :</div>
                <div class="h5 text-primary">@Model.AppointmentCustomerName</div>
                <div>@(Model.CustomerGender == "p" ? "perempuan" : "Laki-laki"), @(Model.CustomerDob != null ? DateTime.Now.Year - Model.CustomerDob.Value.Year : "") tahun</div>
            </div>
            <div class="text-center mb-3 text-primary">Silahkan menghubungi faskes terdekat</div>
            @if (Model != null)
            {
                foreach (VMTPrescription item in Model.Prescriptions)
                {
                    <div class="ps-4 me-3 py-3" style="border:solid 1px #6976FF; background-color:#DCDFFF">
                        <div class="fs-6 fw-bold">@item.MeidicalItemName</div>
                        <div>
                            @item.Dosage <br />
                            @item.Directions <br />
                            @item.Time<br />
                        </div>
                    </div>
                }
            }
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    </html>
}


