﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    string pin = "";
}
<style>
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}
</style>
<form id="cekPin" asp-controller="PenarikanSaldo" asp-action="CekPin" method="post">
    <input type="hidden" name="saldo" value="@ViewBag.Saldo"/>
    <input type="hidden" name="transaksi" value="@ViewBag.Transaksi"/>
    <input type="hidden" name="custid" value="@ViewBag.Id"/>

    <div class="container mb-3">
        <div id="inputs" class="inputs">
            <input name="pin1" class="input" type="text"
                inputmode="numeric" maxlength="1" />
            <input name="pin2" class="input" type="text"
                inputmode="numeric" maxlength="1" />
            <input name="pin3" class="input" type="text"
                inputmode="numeric" maxlength="1" />
            <input name="pin4" class="input" type="text"
                inputmode="numeric" maxlength="1" />
            <input name="pin5" class="input" type="text"
                inputmode="numeric" maxlength="1" />
        </div>
    </div>
    <div id="successAuth" class=" d-md-flex justify-content-md-center">
        <button class="btn btn-primary" style="">Lanjutkan</button>
    </div>
</form>
    
    <script>
        $("#staticModalLabel").html("@ViewBag.Title");

        

        const inputs = document.getElementById("inputs");

        inputs.addEventListener("input", function (e) {
            const target = e.target;
            const val = target.value;

            if (isNaN(val)) {
                target.value = "";
                return;
            }

            if (val != "") {
                const next = target.nextElementSibling;
                if (next) {
                    next.focus();
                }
            }
        });

        inputs.addEventListener("keyup", function (e) {
            const target = e.target;
            const key = e.key.toLowerCase();

            if (key == "backspace" || key == "delete") {
                target.value = "";
                const prev = target.previousElementSibling;
                if (prev) {
                    prev.focus();
                }
                return;
            }
        });

        $("#cekPin").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '/PenarikanSaldo/CekPin',
                type: 'post',
                data: $("#cekPin").serialize(),
                dataType: 'json',
                beforeSend: function(){
                    //process before send data
                },
                success: function(response){
                    debugger;
                    if (response.statusCode == 200 || response.statusCode == 201){
                        console.log(response);
                        //$("#staticModal").modal("hide")
                        $("#staticModalBody").load("/PenarikanSaldo/Auth")
                    }
                    else {
                        debugger;
                        $("#errorContainer ul").html("<li>" + response.message + "</li>");
                        $("#errorContainer").show();

                        //alert(response.message);
                    }
                },
                error: function(errResponse){
                    console.log("Gagal error")
                    debugger;
                }
            });
        });

    </script>