﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="row">
    <form id="frmIdDetail">
        <input type="hidden" id="saldoHidden" value="@ViewBag.Saldo"/>
        <div class="mb-3">
            <label style="font-size: 20px;color:black"  class="form-label">Masukkan Nominal<span class="text-danger">*</span></label>
            <input style="font-size: 15px;color:black" type="number" class="form-control width: 20px" name="" 
            id="idInput" placeholder="Masukkan Nominal"/>
        </div>
        <div id="errorContainer" class="text-danger" aria-hidden="true"><ul></ul></div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" id="cancelSubmit" data-bs-dismiss="modal" class="btn btn-primary" style="font-size: 15px">Cancel</button>
            <button type="button" id="submitNominal" class="btn btn-primary " style="font-size: 15px">Submit</button>
        </div>
    </form>
</div>

<script>
    $("#staticModalLabel").html("@ViewBag.Title");
    $("#submitNominal").click(function(event){
        debugger;
        let saldo = $("#saldoHidden").val()
        let inputSaldo = $("#idInput").val()
        if(parseInt(saldo) < parseInt(inputSaldo)){
            $("#errorContainer ul").html("<li>Saldo Kurang!</li>");
            $("#errorContainer").show();
            return false;
        }
        $("#txtConfirm").html('<div><p>Anda akan melakukan penarikan sebesar Rp. ' +inputSaldo+ ',00 </p><button class="w-100 btn btn-primary" style="font-size:10px">Lanjutkan</button></div>')
        $("#cancelSubmit").click()
    })
</script>
